<div style="background-color: white">
<app-header></app-header>
  <!--<div class="view-container">
    <section id="content" class="animate-fade-up">
      <div class="main-container">-->
  <!--<div *ngIf="isVisible"></div>-->
  <!--<div ></div>-->
  <!--<div class="loader" [hidden]="spinner" *ngIf="spinner"></div>-->
        <p-growl [(value)]="msgs"></p-growl>
        <p-confirmDialog header="Confirmation" icon="fa fa-question-circle" width="425"></p-confirmDialog>
  <div class="section-container">
          <router-outlet></router-outlet>
        </div>
  <!--</div>
</section>
</div>-->
</div>
<!--<app-footer></app-footer>-->


